<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="combined_robot_ur5e_single_arm">

  <!-- Preserve the local Ranger Mini and lift geometry. -->
  <xacro:include filename="ranger_mini.xacro" />
  <xacro:include filename="lift_platform.urdf" />

  <!-- Replace the old Fairino arm with the supplied UR5e macro. -->
  <xacro:include filename="ur5e.xacro" />
  <xacro:include filename="revo2_right_hand.urdf" />

  <joint name="agv_to_lift_joint" type="fixed">
    <parent link="ranger_base_link" />
    <child link="lift_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- The physical arm mount is rotated 90 degrees about Z. -->
  <xacro:ur5e
    prefix="right_arm_"
    parent="right_arm_link"
    origin_xyz="0 0 0"
    origin_rpy="0 0 1.570796326" />

  <!-- Thor has a physical BrainCo Revo2 MediumRight hand on this wrist. -->
  <xacro:right_hand
    parent="right_arm_wrist3_link"
    origin_xyz="0 0 0.02"
    origin_rpy="0 0 0" />

</robot>
